<div class="form-group">
  <label>
    <input type="checkbox" name="checkbox" />
    Checkbox
  </label>
</div>

<div class="form-group">
  <label>
    <input type="checkbox" name="checkbox" checked />
    Checkbox - Checked
  </label>
</div>

<div class="form-group">
  <label>
    <input type="checkbox" name="checkbox" disabled />
    Checkbox - Disabled
  </label>
</div>

<div class="form-group">
  <label>
    <input type="checkbox" name="checkbox" checked disabled />
    Checkbox - Disabled Checked
  </label>
</div>