<div class="form-group">
  <label>
    <input type="radio" name="radio" />
    Radio
  </label>
</div>

<div class="form-group">
  <label>
    <input type="radio" name="radio" checked />
    Radio - Checked
  </label>
</div>

<div class="form-group">
  <label>
    <input type="radio" name="radio" disabled />
    Radio - Disabled
  </label>
</div>

<div class="form-group">
  <label>
    <input type="radio" name="radio" checked disabled />
    Radio - Disabled Checked
  </label>
</div>