// Define theme colors
$color-primary: #041db1 !default;
$color-error: #da1b22 !default;
$color-background: mix(#fff, $color-primary, 95%) !default;
$color-text: scale-color($color-background, $lightness: -65%) !default;
$color-default: scale-color(
  $color-background,
  $lightness: -40%,
  $saturation: -50%
) !default;
$color-disabled-border: scale-color($color-default, $lightness: 40%);
$color-disabled-background: scale-color($color-default, $lightness: 75%);

// Create map of theme colors
$colors: (
  "primary": $color-primary,
  "error": $color-error,
  "background": $color-background,
  "default": $color-default,
  "disabled-border": $color-disabled-border,
  "disabled-background": $color-disabled-background,
  "text": $color-text,
  "white": #fff,
);

// Function to return colors by key
@function color($key) {
  @return map-get($colors, $key);
}

// Additional variables
$border-radius: 0.25em !default;

// Output all theme variables as CSS custom properties
:root {
  @each $key, $color in $colors {
    --color-#{$key}: #{$color};
  }

  --border-radius: #{$border-radius};
}
