<div class="form-group">
  <label for="text-input">Text input</label>
  <input class="form-field" type="text" id="text-input" name="text-input" />
</div>

<div class="form-group">
  <label for="disabled-input">Disabled input</label>
  <input
    class="form-field"
    type="text"
    id="disabled-input"
    name="disabled-input"
    disabled
  />
</div>

<div class="form-group">
  <label for="textarea">Textarea</label>
  <textarea class="form-field" id="textarea" name="textarea"></textarea>
</div>

<div class="form-group">
  <label for="textarea-disabled">Textarea Disabled</label>
  <textarea
    class="form-field"
    disabled
    id="textarea-disabled"
    name="textarea-disabled"
  ></textarea>
</div>
